/* --------------- */
/* INPUT COMPONENT */
/* --------------- */

.component-input {
  position: fixed;
  bottom: 0px;
  left: -10px;
  width: 101%;
  height: 7vh;
  background-color: #8E8D8A;
}

.input-textfield {
  margin-left: 2vw;
  margin-right: 1vw;
  margin-top: 0.7%;
  font-size: 1.2em;
  width: 30%;
}
