.btn {
  color: #5C656E;
  margin: 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn-mark-read:hover, .btn-mark-unread, .btn-add:hover {
  color: #4CAF50;
}

.btn-mark-unread:hover {
  color: #5C656E;
}

.btn-delete:hover {
  color: #E85A4F;
}

.btn-upload:hover {
  color: #faf9f7
}

.btn-filter:hover, .btn-filter-selected {
  color: #86929e;
}
