/* ------------------------ */
/* READING LIST COMPONENT   */
/* ------------------------ */

.component-reading-list {
  margin-bottom: 8vh;
}

.reading-list-header {
  display: flex;
}

.reading-list-buttons {
  padding-top: 2.5vh;
  padding-left: 1vw;
}
