/* ------------- */
/* GLOBAL STYLES */
/* ------------- */

body {
  background-color: #EAE7DC;
  width: 100%;
}

.title-text {
  font-family: sans-serif;
  text-transform: uppercase;
  color: #8E8D8A;
  padding-left: 1em;
}
