/* ------------------------ */
/* RECOMMENDATION COMPONENT */
/* ------------------------ */

.component-recommendation {
  background-color: #faf9f7;
  min-width: 20em;
  margin: 4px;
}

.recommendation-link {
  width: 85%;
  float: left;
  padding: 0.5em;
  text-decoration: none;
  color: #5C656E;
}

.btn-add {
  padding-top: 3.5vh;
}
